---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";

// Sort posts by date
const posts = await getCollection(
  "blog",
  ({ data }) => {
    return !data.draft && data.publishDate < new Date();
  }
);

const sortedPosts = posts.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Blog</Fragment>
      <Fragment slot="desc">Algumas das nossas mais recentes publicações.</Fragment>
    </Sectionhead>
    <main class="mt-16">
      <div class="grid gap-10 lg:gap-10 md:grid-cols-2 lg:grid-cols-3">
        {
          sortedPosts.map((post) => (
            <div class="group">
              <div class="relative overflow-hidden transition-all bg-gray-100 rounded-md dark:bg-gray-800 hover:scale-105 aspect-video">
                {post.data.heroImage && (
                  <Picture
                    src={post.data.heroImage}
                    alt={post.data.title}
                    sizes="(max-width: 800px) 100vw, 800px"
                    width={800}
                    height={600}
                    class="w-full h-full object-cover transition-all"
                  />
                )}
              </div>

              <div class="mt-4 space-y-3">
                <span class="text-xs text-blue-400 uppercase">
                  {post.data.category}
                </span>
                <h2 class="text-xl font-medium transition line-clamp-2 group-hover:text-blue-500">
                  <a href={`/posts/${post.slug}`}>{post.data.title}</a>
                </h2>
                <p class="line-clamp-2 text-sm text-gray-500 dark:text-gray-400">
                  {post.data.snippet}
                </p>
                <div class="flex items-center space-x-1 text-sm text-gray-500">
                  <time datetime={post.data.publishDate.toISOString()}>
                    {post.data.publishDate.toLocaleDateString("pt-BR", {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })}
                  </time>
                  <span>• {post.data.minutesRead || "5"} min leitura</span>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </main>
  </Container>
</Layout>
